@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}
img,
picture,
svg,
video,
canvas {
  vertical-align: middle;
}
img,
picture,
svg,
video,
canvas {
  background-repeat: no-repeat;
  background-size: cover;
}
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 14px;
  font-family: "Pretendard-Regular";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-gray-1: #111111;
  --color-gray-2: #232323;
  --color-gray-4: #4c4c4c;
  --color-gray-4-rgb: 76, 76, 76;
  --color-gray-7: #767676; /* Minimum WCAG AA Pass */
  --color-gray-8: #8c8c8c; /* Fail to WCAG AA */
  --color-gray-9: #999999;
  --color-gray-a: #aaaaaa;
  --color-gray-c: #cccccc;
  --color-gray-d: #dddddd;
  --color-gray-e: #eeeeee;
  --color-gray-f: #f6f6f6;

  --input-shadow: 1px 1px 0 1px var(--rgba-black-25);
  --button-shadow: 3px 4px 0 1px var(--rgba-black-25);
  --button-shadow-active: 1px 1px 0 1px var(--rgba-black-25);
  --button-text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  --button-svg-shadow: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  --supports-clamp: 1px, 2px, 3px;
  --font-size-code: 0.875rem;
  --font-size-inline-code: 85%;
  --line-height-inline-code: 1.5;
  --font-family-default: "SF Pro Text", system-ui, "Helvetica Neue", helvetica, arial, sans-serif;
  --font-family-default-heading: "SF Pro Display", system-ui, "Helvetica Neue", helvetica, arial, sans-serif;
  --font-family-code: monospace, menlo, consolas, monaco, "Andale Mono", "Ubuntu Mono";
  --font-family-heading: var(--font-family-default-heading);
  --font-weight-heading: 400;
  --font-weight-default: 400;
  --font-weight-button: bold;
  --arc-palette-hover: #d3d4fdff;
  --arc-palette-foregroundTertiary: #ecedfeff;
  --arc-palette-minContrastColor: #ecedfeff;
  --arc-palette-backgroundExtra: #fdfdffff;
  --arc-background-gradient-color0: #c8cafeff;
  --arc-background-gradient-color1: #ffe6e6ff;
  --arc-palette-background: #e9eafeff;
  --arc-palette-focus: #9094fbff;
  --arc-palette-maxContrastColor: #212afbff;
  --arc-palette-cutoutColor: #ecedfeff;
  --arc-palette-foregroundPrimary: #3139fbff;
  --arc-palette-title: #0a0d4bff;
  --arc-palette-subtitle: #a6aafbff;
  --arc-palette-foregroundSecondary: #8489fbff;

  --color-bg: #f6f6f6;
  --color-blue: #0071f0; /* Minimum WCAG AA Pass */
  --color-blue-dark: #0053b3;
  --color-red: #eb0d00; /* Minimum WCAG AA Pass */
  --color-red-rgb: 235, 13, 0;
  --color-orange: #ff9500;
  --color-yellow: #ffcc00;
  --color-green: #26873e; /* Minimum WCAG AA Pass */
  --color-teal: #5ac8fa;
  --color-indigo: #5856d6;
  --color-purple: #af52de;
  --color-pink: #ff2d55;

  --color-em: #ff59e3;

  /* Sizes */
  --w-idol-m: 132px;
  --w-idol: 140px;
  --h-idol: 220px;
  --h-nav: 44px;
  --h-footer: 32px;
  --x-scroll-aid: 52px;
}
